[submodule "NISQA"]
	path = NISQA
	url = https://github.com/gabrielmittag/NISQA.git
[submodule "audioseal"]
	path = audioseal
	url = https://github.com/facebookresearch/audioseal.git
[submodule "OpenVoice"]
	path = OpenVoice
	url = https://github.com/gukush/OpenVoice.git
[submodule "SilentCipher"]
	path = SilentCipher
	url = https://github.com/gukush/silentcipher.git
[submodule "coqui-ai-TTS"]
	path = coqui-ai-TTS
	url = https://github.com/idiap/coqui-ai-TTS.git
[submodule "bark-with-voice-clone"]
	path = bark-with-voice-clone
	url = https://github.com/gukush/bark-with-voice-clone.git
[submodule "VALL-E-X"]
	path = VALL-E-X
	url = https://github.com/Plachtaa/VALL-E-X.git
[submodule "fairseq"]
	path = fairseq
	url = https://github.com/gukush/fairseq.git
