[submodule "NISQA"]
	path = NISQA
	url = https://github.com/gabrielmittag/NISQA.git
[submodule "audioseal"]
	path = audioseal
	url = https://github.com/facebookresearch/audioseal.git
[submodule "OpenVoice"]
	path = OpenVoice
	url = https://github.com/gukush/OpenVoice.git
[submodule "SilentCipher"]
	path = SilentCipher
	url = https://github.com/gukush/silentcipher.git
[submodule "coqui-ai-TTS"]
	path = coqui-ai-TTS
	url = https://github.com/idiap/coqui-ai-TTS.git
