numpy==2.0.2
PyYAML==6.0.2
scipy==1.14.1
tqdm==4.66.5
torch==2.4.1
torchaudio==2.4.1
librosa==0.10.2.post1
pandas==2.2.3
matplotlib==3.9.2
ffmpeg-python==0.2.0
gdown==5.2.0
pydub==0.25.1
soundfile==0.12.1
wavmark==0.0.3
build==1.2.2
-e ./audioseal
-e ./OpenVoice
audiolm-pytorch